name: Deploy Frontend
on:
  pull_request:
    branches:
      - main
    paths:
      - 'applications/resume-site/src/frontend/**'
  push:
    branches:
      - main
    paths:
      - 'applications/resume-site/src/frontend/**'